
@{
    ViewBag.Title = "Index";
}

<!-- START RESPONSIVE TABLES -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Responsive tables</h3>
            </div>
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-actions">
                        <thead>
                            <tr>
                                <th width="50">id</th>
                                <th>name</th>
                                <th width="100">Descripcion</th>
                                <th width="100">Monto</th>
                                <th width="100">Fecha de inicio</th>
                                <th width="100">Fecha fin</th>
                                <th width="100">Categoria</th>
                                <th width="100">Negocio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td><strong>Rogger Avalos Tapia</strong></td>
                                <td><span class="label label-success">New</span></td>
                                <td>S/.430.20</td>
                                <td>24/09/2017</td>
                                <td>24/10/2017</td>
                                <td>Categoria1</td>
                                <td>Megocio1</td>
                                <td>
                                    <button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button>                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END RESPONSIVE TABLES -->
